In [143]:
import pandas as pd

In [144]:
#Load the csv 
passenger2014 = pd.read_csv("2014 CY-YTD Passenger Raw Data_2-1.csv")

In [146]:
#Review the data
passenger2014.head(5)

,Month,OriginApt,DestApt,OriginWAC,DestWAC,Carrier,Group,Type,Total,Scheduled,Charter
0,201401,AEX,BOG,72,327,K8,1,Passengers,77,0,77
1,201401,AEX,GUA,72,127,FCQ,1,Passengers,398,0,398
2,201401,AEX,GUA,72,127,XP,1,Passengers,68,0,68
3,201401,AEX,GYE,72,337,FCQ,1,Passengers,202,0,202
4,201401,AEX,MGA,72,153,FCQ,1,Passengers,17,0,17

In [147]:
#Check the dimention
passenger2014.shape

(25593, 11)

In [148]:
#Check the column type
passenger2014.dtypes

Month         int64
OriginApt    object
DestApt      object
OriginWAC     int64
DestWAC       int64
Carrier      object
Group         int64
Type         object
Total         int64
Scheduled     int64
Charter       int64
dtype: object

In [149]:
#Part 1A
# Find the combined number of passenger departures and arrivals they each had in 2014
#BOS
passenger2014.loc[passenger2014.OriginApt=='BOS','Total'].sum()

4455338

In [14]:
#MDW
passenger2014.loc[passenger2014.OriginApt=='MDW','Total'].sum()

589605

In [15]:
#FLL
passenger2014.loc[passenger2014.OriginApt=='FLL','Total'].sum()

4503862

In [16]:
#MIA
passenger2014.loc[passenger2014.OriginApt=='MIA','Total'].sum()

20020381

In [26]:
#LAX
passenger2014.loc[passenger2014.OriginApt=='LAX','Total'].sum()

18681107

In [150]:
#Part 1B
#which airline was each of these five airport's largest carrier.
#Create data frame for the 5 airports only
passenger2014_5 = passenger2014.loc[passenger2014['OriginApt'].isin(['LAX','BOS','MIA','FLL','MDW'])]

In [151]:
#Create pivot table to groupby airport and carrier by total passenger
S = passenger2014_5.pivot_table('Total',index=['OriginApt','Carrier'],aggfunc='sum',)

In [188]:
#Sort the total passender to get the largest
s2 = S.sort_values(by='Total',ascending=False)

In [153]:
#Part 2
#Create pivot table to groupby airport and carrier by total passenger
V = passenger2014_5.pivot_table('Total',index=['OriginApt','DestApt'],aggfunc='sum',)

In [154]:
#Sort the total passender to get the largest
V.sort_values(by='Total',ascending=False)

                     Total
OriginApt DestApt
LAX       LHR      1428718
          NRT      1096689
          ICN      1049924
MIA       GRU      1039120
LAX       SYD      1033921
MIA       LHR       966134
LAX       TPE       905673
          YVR       897297
BOS       LHR       868024
LAX       GDL       746017
MIA       EZE       739525
          BOG       734872
LAX       MEX       725575
MIA       PTY       709854
          LIM       706568
          CCS       642187
          MEX       622234
LAX       YYZ       619399
          CDG       590452
          HKG       582856
MIA       CUN       511433
FLL       YYZ       504248
MIA       YYZ       491123
LAX       PVG       482953
MIA       HAV       478072
          SDQ       474594
          MAD       457809
FLL       YUL       442139
LAX       AKL       432797
MIA       SCL       418743
...                    ...
LAX       SOU            6
          RTM            6
BOS       YVR            6
MIA       SJD            5
MDW       ZRH            5
MIA       KSC            5
LAX       QRO            4
MIA       SMA            4
          SNN            4
MDW       NCE            4
          KRK            4
FLL       FAB            4
          YXU            4
LAX       TNG            3
MDW       YOW            3
BOS       MTY            3
LAX       MWX            3
MIA       SBH            3
LAX       STR            2
BOS       SCQ            2
LAX       LYX            2
BOS       BIO            2
          BQH            2
FLL       CIW            2
MIA       KEF            1
          DKR            1
BOS       GSE            1
MIA       RIX            1
BOS       YYC            1
          GIG            1

[402 rows x 1 columns]

In [191]:
V.to_csv("V.csv")

In [68]:
#Part 3
#Load the text file using pandas read_table function
accident2014 = pd.read_table("A2010_14.txt",sep='\t', encoding = "ISO-8859-1")

C:\Users\dbing\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (9,64,67,76,81) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [69]:
#Review the data
accident2014.head(5)

,c5,c1,c2,c3,c4,c6,c7,c8,c9,c10,...,c154,c156,c158,c161,c163,c183,c191,c229,c230,end_of_record
0,20100101025609A,A,091,,,2010,01,01,20100101,1940,...,,,Wheeled-Conventional,,,,,NaN,NaN,
1,20100101025799A,A,137,,,2010,01,01,20100101,1142,...,,,Skids,,,,,19740916.0,NaN,
2,20100101025829I,I,091,,,2010,01,01,20100101,910,...,,,Wheeled-Tricycle,,,,,NaN,NaN,
3,20100101030559I,I,091,,,2010,01,01,20100101,900,...,,,Wheeled-Tricycle,,,,,NaN,NaN,
4,20100102026249I,I,091,,,2010,01,02,20100102,1258,...,,,Wheeled-Tricycle,,,,,NaN,NaN,

In [70]:
#Check the Type of the data
type(accident2014)

pandas.core.frame.DataFrame

In [71]:
#Check the dimention of the data
accident2014.shape

(11501, 180)

In [155]:
#Create data frame for selected column
accident2014_select = accident2014[['c5','c6','c143','c15','c76']]

In [156]:
#select required airport code 
accident2014_select_5 = accident2014_select.loc[accident2014_select['c143'].isin(['LAX ','KLAX','BOS ','KBOS','MIA ','KMIA','FLL ','KFLL','MDW ','KMDW'])]

In [82]:
#save the data to csv fro quick reivew
accident2014_select_5.to_csv("accident2014_select_5.csv")

In [86]:
#Determine the year range, we need it form 2010-2014
accident2014_select_5.c6.unique()

array(['2010', '2011', '2012', '2013'], dtype=object)

In [157]:
#Rename the active data frame column in order to combine the dataset together
accident2014_select_5=accident2014_select_5.rename(columns={'c5':'UNIQUE_ID'}) 
accident2014_select_5=accident2014_select_5.rename(columns={'c6':'YEAR'}) 
accident2014_select_5=accident2014_select_5.rename(columns={'c143':'AIRPORT_ID'}) 
accident2014_select_5=accident2014_select_5.rename(columns={'c15':'AIRPORT_NAME'}) 
accident2014_select_5=accident2014_select_5.rename(columns={'c76':'FATALITY'})

In [99]:
#Review the data
accident2014_select_5.head(5)

,UNIQUE_ID,YEAR,AIRPORT_ID,AIRPORT_NAME,FATALITY,counter
32,20100108025789I,2010,BOS,LOGAN INTERNATIONAL,0.0,1
43,20100112026099I,2010,MIA,MIAMI INTL,0.0,1
208,20100201026619I,2010,BOS,LOGAN INTERNATIONAL,0.0,1
224,20100205026989I,2010,KMDW,MIDWAY,0.0,1
312,20100216028719I,2010,LAX,LOS ANGELES INTERNATIONAL,0.0,1

In [158]:
#Rename the value to combine all the airport id
accident2014_select_5.AIRPORT_ID[accident2014_select_5.AIRPORT_ID == 'KLAX'] = 'LAX '
accident2014_select_5.AIRPORT_ID[accident2014_select_5.AIRPORT_ID == 'KFLL'] = 'FLL '
accident2014_select_5.AIRPORT_ID[accident2014_select_5.AIRPORT_ID == 'KMDW'] = 'MDW '
accident2014_select_5.AIRPORT_ID[accident2014_select_5.AIRPORT_ID == 'KBOS'] = 'BOS '
accident2014_select_5.AIRPORT_ID[accident2014_select_5.AIRPORT_ID == 'KMIA'] = 'MIA '

C:\Users\dbing\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\dbing\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\dbing\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\dbing\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\dbing\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [159]:
#determine the number of accidents or incidents that occurred at them between 2010 and 2014 inclusive
accident2014_select_5.AIRPORT_ID.value_counts()

FLL     27
LAX     16
BOS     11
MIA     10
MDW      7
Name: AIRPORT_ID, dtype: int64

In [110]:
#Assign dummy variable for pivot
#accident2014_select_5 = accident2014_select_5.assign(counter = 1)

#Pivot the table to transpose the product category column into rows
#Pivot the table to transpose the product category column into rows
#accident2014_select_5.pivot_table(values='FATALITY', index=['AIRPORT_ID'])

            FATALITY
AIRPORT_ID
BOS         0.090909
FLL         0.074074
LAX         0.000000
MDW         0.000000
MIA         0.000000

In [160]:
#Determine the number of death for each incident for each of the 5 airport
accident2014_select_5

,UNIQUE_ID,YEAR,AIRPORT_ID,AIRPORT_NAME,FATALITY
32,20100108025789I,2010,BOS,LOGAN INTERNATIONAL,0.0
43,20100112026099I,2010,MIA,MIAMI INTL,0.0
208,20100201026619I,2010,BOS,LOGAN INTERNATIONAL,0.0
224,20100205026989I,2010,MDW,MIDWAY,0.0
312,20100216028719I,2010,LAX,LOS ANGELES INTERNATIONAL,0.0
706,20100409034329A,2010,LAX,LOS ANGELES INTERNATIONAL AIRP,0.0
875,20100517035569A,2010,MIA,MIAMI INTERNATIONAL AIRPORT,0.0
1037,20100612035089I,2010,FLL,FT LAUDERDALE/HOLLYWOOD INTNL,0.0
1267,20100530005099I,2010,FLL,FORT LAUDERDALE/HOLLYWOOD INTL,0.0
1475,20100804040331I,2010,LAX,LOS ANGELES INTL,0.0
1595,20100630038889I,2010,MDW,CHICAGO MIDWAY INTL,0.0
1630,20100820042389I,2010,LAX,"LOS ANGELES, INTERNATIONAL",0.0
1754,20100718038409I,2010,FLL,NaN,0.0
2052,20100920046529I,2010,FLL,FORT LAUDERDALE/HOLLYWOOD INTL,0.0
2151,20100929050279I,2010,LAX,LOS ANGELES,0.0
2367,20101026050469A,2010,MIA,MIAMI INTL,0.0
2419,20101029051899A,2010,FLL,FORT LAUDERDALE/HOLLYWOOD INTL,0.0
2466,20101014050029I,2010,MIA,MIAMI,0.0
2498,20101108050709A,2010,LAX,LOS ANGELES INTERNATIONAL,0.0
2597,20101120055199I,2010,MIA,MIAMI INTERATIONAL AIRPORT,0.0
2796,20101213054749I,2010,FLL,FORT LAUDERDALE/HOLLYWOOD INTL,0.0
2809,20101220054769I,2010,FLL,FORT LAUDERDALE/HOLLYWOOD INTL,0.0
2857,20110113000349I,2011,LAX,LOS ANGELES INTL,0.0
2927,20110103000069I,2011,FLL,FORT LAUDERDALE/HOLLYWOOD INTL,0.0
2975,20110125001079I,2011,FLL,NaN,0.0
2987,20110125001729I,2011,FLL,FORT LAUDERDALE/HOLLYWOOD INTL,0.0
3090,20110216003419I,2011,FLL,FORT LAUDERDALE/HOLLYWOOD INTL,0.0
3302,20110303003689I,2011,FLL,FORT LAUDERDALE/HOLLYWOOD INTL,0.0
3433,20110405007209I,2011,MIA,NaN,0.0
3467,20110409010549I,2011,MDW,CHICAGO MIDWAY INTL,0.0
...,...,...,...,...,...
5257,20111002023659I,2011,BOS,BOSTON LOGAN INTERNATIONAL AIR,0.0
5264,20111005023009I,2011,LAX,LOS ANGELES INTL,0.0
5614,20111129028081I,2011,MDW,CHICAGO MIDWAY INTL,0.0
5615,20111117027099I,2011,LAX,LOS ANGELES INTL,0.0
5656,20111209028549I,2011,FLL,FORT LAUDERDALE/HOLLYWOOD INTL,0.0
5778,20120104000119I,2012,FLL,FORT LAUDERDALE/HOLLYWOOD INTL,0.0
5968,20120119000359I,2012,LAX,LOS ANGELES INTL,0.0
5997,20120128000879I,2012,BOS,LOGAN AIRPORT,0.0
6108,20120228003159I,2012,MDW,CHICAGO MIDWAY INTL,0.0
6160,20120309003929I,2012,FLL,NaN,0.0
6218,20120212001519I,2012,FLL,FT. LAUDERDALE INTERNATIONAL,0.0
6233,20120216001679I,2012,FLL,FORT LAUDERDALE/HOLLYWOOD INTL,0.0
6450,20120420012581I,2012,LAX,LOS ANGELES INTL,0.0
6482,20120324004399I,2012,FLL,FORT LAUDERDALE/HOLLYWOOD INTL,0.0
6568,20120510009689A,2012,FLL,NaN,0.0
6866,20120507006949I,2012,FLL,FORT LAUDERDALE EXECUTIVE AIRP,0.0
6982,20120523011149A,2012,FLL,FT. LAUDERDALE HOLLYWOOD INTER,0.0
7764,20120817020199I,2012,LAX,LOS ANGELES INT'L AIRPORT,0.0
8247,20121025024749I,2012,FLL,FORT LAUDERDALE INTL,0.0
8552,20121222028659I,2012,MIA,MIAMI INTL,0.0
8902,20121206027439I,2012,BOS,NaN,0.0
8996,20121221027829I,2012,FLL,FORT LAUDERDALE/HOLLYWOOD INTL,0.0
9060,20121231028351I,2012,FLL,FT LAUDERDALE-HOLLYWOOD INTERN,0.0
9310,20130202001659I,2013,FLL,FORT LAUDERDALE EXECUTIVE AIRP,0.0
9358,20130207001849I,2013,LAX,LOS ANGELES INTERNATIONAL,0.0
10495,20131102021519I,2013,LAX,LOS ANGELES INTERNATIONAL AIRP,0.0
10681,20131230024219A,2013,BOS,LOGAN INTERNATIONAL,1.0
11185,20130911016769I,2013,BOS,GENERAL EDWARD LAWRENCE LOGAN,0.0
11267,20131004021859I,2013,FLL,FORT LAUDERDALE INTL,0.0
11402,20131119023009A,2013,FLL,NaN,2.0

In [161]:
#Determine the number of death for each airport
accident2014_select_5.groupby('AIRPORT_ID').FATALITY.sum()

AIRPORT_ID
BOS     1.0
FLL     2.0
LAX     0.0
MDW     0.0
MIA     0.0
Name: FATALITY, dtype: float64

In [174]:
#Create data frame for selected column
accident2014_select2 = accident2014[['c5','c6','c143','c15','c76','c78','c77']]

In [175]:
#Rename the active data frame column in order to combine the dataset together
accident2014_select2=accident2014_select2.rename(columns={'c5':'UNIQUE_ID'}) 
accident2014_select2=accident2014_select2.rename(columns={'c6':'YEAR'}) 
accident2014_select2=accident2014_select2.rename(columns={'c143':'AIRPORT_ID'}) 
accident2014_select2=accident2014_select2.rename(columns={'c15':'AIRPORT_NAME'}) 
accident2014_select2=accident2014_select2.rename(columns={'c76':'FATALITY'}) 
accident2014_select2=accident2014_select2.rename(columns={'c78':'PRIMARY_CAUSE_FACTOR_CODE'})
accident2014_select2=accident2014_select2.rename(columns={'c77':'PRIMARY_CAUSE_FACTOR_TEXT'})

In [164]:
#Review the data
accident2014_select2.head(10)

,UNIQUE_ID,YEAR,AIRPORT_ID,AIRPORT_NAME,FATALITY,PRIMARY CAUSE FACTOR CODE,PRIMARY CAUSE FACTOR TEXT
0,20100101025609A,2010,NaN,NaN,0.0,,
1,20100101025799A,2010,NaN,NaN,0.0,,
2,20100101025829I,2010,KSUN,FRIEDMAN MEMORIAL,0.0,,
3,20100101030559I,2010,04MS,NICK'S FLYING SERVICE INC AIRP,0.0,,
4,20100102026249I,2010,KTOA,NaN,0.0,32,3230
5,20100103006039I,2010,MMPR,PUERTO VALLARTA,0.0,,
6,20100103025589I,2010,GA81,FT. VALLEY,0.0,,
7,20100103025599I,2010,ATL,HARTSFIELD-JACKSON,0.0,,
8,20100103025679I,2010,NaN,NaN,0.0,,
9,20100103025709A,2010,L18,FALLBROOK,0.0,,

In [165]:
#find unique value for Year
accident2014_select2.YEAR.unique()

array(['2010', '2011', '  ', '2012', nan, '2013', '           '], dtype=object)

In [176]:
#select records where there is at least 1 fatality
accident2014_select2_filter = accident2014_select2.loc[accident2014_select2['FATALITY'] > 0.0]

In [167]:
#Review the data
accident2014_select2_filter

,UNIQUE_ID,YEAR,AIRPORT_ID,AIRPORT_NAME,FATALITY,PRIMARY CAUSE FACTOR CODE,PRIMARY CAUSE FACTOR TEXT
14,20100105025699A,2010,NaN,NaN,4.0,,
24,20100104026089A,2010,OLD,AIRPORT NAME,1.0,,
36,20100105056059A,2010,KPWK,CHICAGO EXECUTIVE,2.0,,
46,20100113026189A,2010,OXC,OXFORD AIRPORT,1.0,,
53,20100115028109A,2010,5MS5,NaN,2.0,,
54,20100117026112A,2010,NaN,NaN,2.0,,
55,20100117026149A,2010,KBIV,TULIP CITY,2.0,,
56,20100117026159A,2010,NaN,NaN,2.0,,
61,20100118026199A,2010,NaN,NaN,2.0,,
62,20100118026779A,2010,HSV,NaN,2.0,,
88,20100108025899A,2010,W28,SEQUIM VALLEY,2.0,,
89,20100109025719A,2010,NaN,NaN,2.0,,
93,20100110026079A,2010,PHNL,HONOLULU INTERNATIONAL AIRPORT,2.0,,
109,20100204027889A,2010,MDST,JIMANI,2.0,,
122,20100118026329A,2010,KLPR,LORAIN COUNTY RGNL,4.0,,
123,20100206026931A,2010,NaN,NaN,2.0,,
125,20100206027229A,2010,FYV,DRAKE FIELD,4.0,,
141,20100121026269A,2010,SDP,SAND POINT,2.0,72,7200
148,20100208027159A,2010,REI,REDLANDS MUNICIPAL,2.0,,
149,20100208039279A,2010,NaN,NaN,1.0,,
165,20100123026579A,2010,KJWY,NaN,2.0,,
167,20100123027329A,2010,ARR,AURORA,2.0,,
183,20100217027439A,2010,PAO,NaN,3.0,,
195,20100128026509A,2010,NaN,NaN,1.0,,
200,20100219027589A,2010,E45,GROVELAND/PINE MOUNTAIN LAKE,2.0,,
225,20100205027079A,2010,NaN,NaN,3.0,,
227,20100206026951A,2010,BDU,NaN,1.0,,
249,20100223028279A,2010,K6I2,NaN,1.0,,
252,20100225028069A,2010,GIF,WINTER HAVEN'S GILBERT,2.0,,
263,20100212027239A,2010,FXY,FOREST CITY MUNI,1.0,,
...,...,...,...,...,...,...,...
11213,20130920019159A,2013,NaN,NaN,1.0,,
11218,20130921020369A,2013,NaN,NaN,2.0,,
11226,20130923021489A,2013,NaN,NaN,1.0,,
11239,20130927018949A,2013,NaN,NaN,1.0,,
11241,20130927020329A,2013,NaN,NaN,1.0,,
11272,20131006022679A,2013,PGWT,TINIAN INTERNATIONAL,3.0,,
11279,20131009020959A,2013,PTN,PATTERSON,1.0,,
11281,20131009022749A,2013,NaN,NaN,2.0,,
11283,20131010023219A,2013,NaN,NaN,4.0,,
11299,20131017021109A,2013,FAI,NaN,1.0,,
11301,20131018019439A,2013,NaN,NaN,1.0,,
11307,20131019021869A,2013,X39,TAMPA NORTH AERO PARK,1.0,,
11317,20131021019919A,2013,NaN,NaN,2.0,,
11321,20131022019759A,2013,FYE,FAYETTE COUNTY AIRPORT,3.0,,
11323,20131023019929A,2013,NaN,NaN,2.0,,
11356,20131101020519A,2013,ASG,SPRINGDALE MUNICIPAL AIRPORT,2.0,,
11369,20131105022149A,2013,IRK,KIRKSVILLE RGNL,2.0,,
11373,20131106022139A,2013,MYL,NaN,3.0,,
11382,20131111020469A,2013,AMA,RICK HUSBAND INTERNATIONAL AIR,3.0,,
11386,20131112024709A,2013,JCT,KIMBLE COUNTY AIRPORT,2.0,,
11387,20131114023099I,2013,TMB,NaN,1.0,,
11402,20131119023009A,2013,FLL,NaN,2.0,,
11422,20131129023719A,2013,KSM,ST MARY'S,4.0,,
11433,20131202024899A,2013,NaN,NaN,2.0,,
11437,20131203025079I,2013,KE60,NaN,2.0,,
11445,20131206023419A,2013,NaN,NaN,1.0,,
11452,20131208023279A,2013,LAM,NaN,2.0,,
11455,20131208025969A,2013,CRG,CRAIG MUNI,3.0,,
11485,20131226025149A,2013,KFCH,FRESNO CHANDLER EXECUTIVE,2.0,,
11491,20131227025889I,2013,L65,PERRIS VALLEY,1.0,,

In [178]:
accident2014_select2_filter.PRIMARY_CAUSE_FACTOR_CODE.value_counts().head(11)

      1040
85      11
73       5
57       5
61       3
72       3
27       3
52       2
71       2
67       2
28       2
Name: PRIMARY_CAUSE_FACTOR_CODE, dtype: int64

In [133]:
#Rename the value to combine all the airport id, defintion obtain from ATA numering system
accident2014_select2_filter.c78[accident2014_select2_filter.c78 == '85'] = 'RECIPROCATING ENGINE'
accident2014_select2_filter.c78[accident2014_select2_filter.c78 == '73'] = 'ENGINE FUEL AND CONTROL'
accident2014_select2_filter.c78[accident2014_select2_filter.c78 == '57'] = 'WINGS'
accident2014_select2_filter.c78[accident2014_select2_filter.c78 == '61'] = 'PROPELLERS/PROPULSION'
accident2014_select2_filter.c78[accident2014_select2_filter.c78 == '72'] = 'ENGINE TURBINE/TURBO PROP DUCTED FAN/UNDUCTED FAN'
accident2014_select2_filter.c78[accident2014_select2_filter.c78 == '27'] = 'FLIGHT CONTROLS'
accident2014_select2_filter.c78[accident2014_select2_filter.c78 == '52'] = 'DOORS'
accident2014_select2_filter.c78[accident2014_select2_filter.c78 == '71'] = 'POWER PLANT'
accident2014_select2_filter.c78[accident2014_select2_filter.c78 == '67'] = 'ROTORS FLIGHT CONTROL'
accident2014_select2_filter.c78[accident2014_select2_filter.c78 == '28'] = 'FUEL'

C:\Users\dbing\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\dbing\AppData\Local\Continuum\Anaconda3\lib\site-packages\pandas\core\generic.py:5088: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\dbing\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2881: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\dbing\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\dbing\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\dbing\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\dbing\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\dbing\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\dbing\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\dbing\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\dbing\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\dbing\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [180]:
def set_color(row):
    if row["PRIMARY_CAUSE_FACTOR_CODE"] == "85":
        return "RECIPROCATING ENGINE"
    if row["PRIMARY_CAUSE_FACTOR_CODE"] == "73":
        return "ENGINE FUEL AND CONTROL"
    if row["PRIMARY_CAUSE_FACTOR_CODE"] == "57":
        return "WINGS"
    if row["PRIMARY_CAUSE_FACTOR_CODE"] == "61":
        return "PROPELLERS/PROPULSION"
    if row["PRIMARY_CAUSE_FACTOR_CODE"] == "72":
        return "ENGINE TURBINE/TURBO PROP DUCTED FAN/UNDUCTED FAN"
    if row["PRIMARY_CAUSE_FACTOR_CODE"] == "27":
        return "FLIGHT CONTROLS"
    if row["PRIMARY_CAUSE_FACTOR_CODE"] == "52":
        return "DOORS"
    if row["PRIMARY_CAUSE_FACTOR_CODE"] == "71":
        return "POWER PLANT"
    if row["PRIMARY_CAUSE_FACTOR_CODE"] == "67":
        return "ROTORS FLIGHT CONTROL"
    if row["PRIMARY_CAUSE_FACTOR_CODE"] == "28":
        return "FUEL"
    else:
        return "ALL OTHER"

In [181]:
accident2014_select2_filter = accident2014_select2_filter.assign(defintion=accident2014_select2_filter.apply(set_color, axis=1))

In [185]:
accident_df = accident2014_select2_filter.defintion.value_counts().head(11)

In [193]:
type(accident_df)

pandas.core.series.Series

In [187]:
accident_df

ALL OTHER                                            1058
RECIPROCATING ENGINE                                   11
WINGS                                                   5
ENGINE FUEL AND CONTROL                                 5
FLIGHT CONTROLS                                         3
PROPELLERS/PROPULSION                                   3
ENGINE TURBINE/TURBO PROP DUCTED FAN/UNDUCTED FAN       3
DOORS                                                   2
ROTORS FLIGHT CONTROL                                   2
POWER PLANT                                             2
FUEL                                                    2
Name: defintion, dtype: int64